.Us_imgs {
    width: 19%;
    color: white;
}

.USA {
    padding-top: 2rem;
    color: white;
    border-color: rgb(255, 255, 255);
}

.USAcol {
    text-align: center;
    background-color: #000000;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: white;

}

.uscol {
    padding-top: 1.5rem;
    border-radius: 3rem;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    text-align: center;
    color: white;

}

#paddingAfter {
    padding-bottom: 2rem;
    color: white;

}

.uscoltest {
    padding-top: 0.7rem;
    text-align: center;
    color: white;

    border-color: rgb(255, 255, 255);
}

#WhoHeading {
    font-size: 360%;
    padding-left: 1rem;
    margin: 0;
}

.CenterTeamImg {
    width: 100%;
}

.CenterTroImg {
    width: 90%;
}

.CenterTroImg2 {
    width: 80%;
}

.PowerTeamImg {
    width: 100%;
}


.PowerTroImg {
    width: 65%;
}

.PowerTroImg2 {
    width: 100%;
}

.freightTroImg {
    width: 85%;
}

.headingsAbout {
    font-size: 220%;
}

.us_clou {
    background-color: #000000;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    text-align: left;
    padding-bottom: 2%;
    margin-top: 2%;
    padding-left: 1.5rem;
    border-radius: 20px;
    color: white;
}

@media (max-width: 900px) {

    .us_clou {
        background-color: #000000;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        text-align: left;
        padding-bottom: 2%;
        margin-top: 2%;
        padding-left: 1.5rem;
        border-radius: 20px;
        color: white;
    }

    #WhoHeading {
        font-size: 320%;
        padding-left: 1rem;
        margin: 0;
    }

    #AboutRow {
        padding-top: 5vh;
    }

    .Us_imgs {
        width: 46%;
        padding: 1vw;
        color: white;
        text-align: center;
    }

    #space {
        text-align: center;
        font-size: 300%;
        margin-top: 10vw;
        color: white;
        border-style: solid;
        margin-left: 3vw !important;
        margin-right: 3vw !important;
        padding: 1rem;
        border-radius: 20px;
        width: fit-content;
    }

    .textforT {
        font-size: 140%;
        text-align: left;
    }

    #centerUG {
        margin-bottom: 8vw !important;
    }
}

#space {
    text-align: center;
    font-size: 340%;
    color: white;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 20px;
    width: fit-content;
}

.textforT {
    font-size: 140%;
}