#worldsRow {
    padding-top: 2vw;
    padding: 2vw;
}

#winningAliance {
    margin-top: 1vw;
    width: 60%;
}

.homeHeadings {
    text-align: center;
    margin: auto;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    border-radius: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 0vw;
    background-blend-mode: multiply;
    text-shadow: 0.4vw 0.4vw 0.1vw rgb(0, 0, 0);
}

#worldsRecap {
    height: 16vw;
    width: 30vw;
    margin-left: 5vw;
}

#worldsBox {
    display: flex;
    height: 30vw;
}

#worldsRecapBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.homeSubHeadings {
    text-align: center;
    font-size: 2.5vw;
    padding-bottom: 1vw;
    font-weight: 600;
    margin: 0;
    color: white;
    text-shadow: 0.4vw 0.4vw 0.1vw rgb(0, 0, 0);
}

#RobotLink {
    text-align: center;
    margin-left: 5vw;
    margin-top: 2vw;
    background-color: rgb(55, 59, 59);
    width: 30vw;
    height: 8vw;
    border-radius: 1vw;
    background-image: url("../images/20240405_174045.jpg");
    opacity: 0.8;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#IgniteRobotics {
    text-align: center;
    background-color: rgb(63, 80, 102);
    width: 80%;
    height: 13vw;
    margin: auto;
    margin-top: 0.6vw;
    border-radius: 1vw;
    opacity: 0.8;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#worldsRobotHeading {
    padding: 0.5vw;
    padding-top: 1vw;
    font-size: 1.65vw;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 0.2vw 0.2vw rgb(255, 255, 255);
}

#linkToRobotPage {
    color: white;
    text-align: center;
    background-color: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5vw;
}

#ourMissionRow {
    padding-left: 2vw;
    padding-right: 2vw;
}

#OurMission {
    text-align: center;
    font-size: 1.8vw;
    padding-top: 0.5vw;
    padding-bottom: 1vw;
    font-weight: 600;
    margin: 0;
    color: white;
    text-shadow: 0.4vw 0.4vw 0.1vw rgb(0, 0, 0);
    text-align: left;
    padding-left: 1vw;
    width: 95%
}

#notJustARobot {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    height: 18vw;
    width: 90%;
}

#igniteHeading {
    text-align: center;
    font-size: 1.6vw;
    padding: 0.4vw;
    font-weight: 600;
    margin: 0;
    color: white;
    text-shadow: 0.15vw 0.15vw 0.1vw rgb(0, 0, 0);
}

#igniteWebsite {
    user-select: none;
    color: white;
    text-align: center;
    background-color: black;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5vw;
}

#igniteIntro {
    user-select: none;
    color: white;
    text-align: center;
    background-color: black;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5vw;
    padding-bottom: 0.2vw;
    font-size: 1.5vw;
    line-height: normal;
}

#MissionLearnMore {
    user-select: none;
    text-align: center;
    background-color: rgb(63, 80, 102);
    width: 96.5%;
    height: 4vw;
    margin: auto;
    margin-top: 0.6vw;
    border-radius: 1vw;
    background-image: url("../images/IMG_20240719_143535.jpg");
    opacity: 0.8;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#headingLearnMission {
    padding: 0.5vw;
    padding-top: 1vw;
    font-size: 1.8vw;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 0.3vw 0.3vw 0.1vw rgb(80, 116, 139);
}

#igniteRow {
    padding-bottom: 20vw;
    padding-top: 3.5vw;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#IgniteBlock {
    height: 15vw;
    display: flex;
    padding: 1vw;
    background-color: rgb(63, 80, 102);
    border-radius: 1.5vw;
    background-image: url("../images/Ignite_Background.JPG");
    opacity: 0.8;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#igniteLogo {
    height: 13vw;
    padding-right: 2vw;
}

#infotext {
    font-size: 1.8vw;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0.2vw 0.2vw 0.1vw rgb(0, 0, 0);
}

#descriptionIgnite {
    width: 60%;
    font-size: 1.6vw;
    font-weight: 800;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0.2vw 0.2vw 0.1vw rgb(0, 0, 0);
}

.buttonStyles {
    margin: 1vw;
    user-select: none;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 20%;
    margin-top: 2.5vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border-radius: 0.5vw;
    height: 4vw;
}

.igniteLinksText {
    list-style: none;
    font-size: 2vw;
    font-weight: 700;
    padding-top: 0.6vw;
    margin: 0;
}