#homejumbo {
    display: flex;
    background-image: url("../images/TeamPicture.png");
    z-index: 1;
    height: 35vw;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    font-family: "Helvetica ", sans-serif;
    text-align: center;
}

#sloganJumbo {
    margin: auto;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    border-radius: 1vw;
    background-color: rgb(8, 8, 8, 0.4);
    padding-left: 1vw;
    padding-right: 1vw;
    background-blend-mode: multiply;
    text-shadow: 0.4vw 0.4vw 0.1vw rgb(0, 0, 0);
}

#winningAliance {
    margin-top: 1vw;
    width: 60%;
}

#worldChampsHeading {
    text-align: center;
    margin: auto;
    font-weight: 600;
    border-radius: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
}

#worldsRecap {
    height: 15.5vw;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

#worldsBox {
    display: flex;
    height: 30vw;
}

#worldsRecapBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#worldsRecapHeading {
    text-align: center;
    padding-bottom: 1vw;
    font-weight: 600;
    margin: 0;
}

#RobotLink {
    border-style: solid;
    border-radius: 1vw;
    border-width: 0.2vw;
    user-select: none;
    text-align: center;
    margin-top: 1vw;
    background-color: rgb(55, 59, 59);
    width: 30vw;
    height: 6vw;
    margin: auto;
    border-radius: 1vw;
    background-image: url("../images/Robot_Backgroung.jpg");
    opacity: 0.9;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#IgniteRobotics {
    text-align: center;
    background-color: rgb(63, 80, 102);
    width: 80%;
    height: 13vw;
    margin: auto;
    margin-top: 0.6vw;
    border-radius: 1vw;
    opacity: 0.8;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#worldsRobotHeading {
    padding: 0vw;
    padding-top: 0.9vw;
    padding-bottom: 0.4vw;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 0.2vw 0.2vw rgb(0, 0, 0);
}

#linkToRobotPage {
    color: white;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    border-radius: 0.5vw;
    transition: background-position 0.5s;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%);
}

#linkToRobotPage:hover {
    background-position: -100% 0;
    font-weight: 600;
    color: black;
}

#OurMission {
    text-align: center;
    font-size: 1.8vw;
    padding-top: 0.5vw;
    padding-bottom: 1vw;
    font-weight: 600;
    margin: 0;
    color: white;
    text-shadow: 0.4vw 0.4vw 0.1vw rgb(0, 0, 0);
    text-align: left;
    padding-left: 0.1vw;
    width: 95%
}

#notJustARobot {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    height: 16.5vw;
    width: 82%;
}

#igniteHeading {
    text-align: center;
    font-size: 1.6vw;
    padding: 0.4vw;
    font-weight: 600;
    margin: 0;
    color: white;
    text-shadow: 0.15vw 0.15vw 0.1vw rgb(0, 0, 0);
}

#igniteWebsite {
    user-select: none;
    color: white;
    text-align: center;
    background-color: black;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5vw;
}

#igniteIntro {
    user-select: none;
    color: white;
    text-align: center;
    background-color: black;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5vw;
    padding-bottom: 0.2vw;
    font-size: 1.5vw;
    line-height: normal;
}

#MissionLearnMore {
    user-select: none;
    text-align: center;
    background-color: rgb(63, 80, 102);
    width: 96.5%;
    height: 4vw;
    margin: auto;
    margin-top: 0.6vw;
    border-radius: 1vw;
    background-image: url("../images/Learn_More_Background.jpg");
    opacity: 0.8;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#headingLearnMission {
    border-style: solid;
    border-radius: 1vw;
    border-width: 0.2vw;
    padding: 0.5vw;
    padding-top: 0.7vw;
    font-size: 1.8vw;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0.3vw 0.3vw 0.1vw rgb(0, 0, 0);
}

#IgniteBlock {
    border-style: solid;
    border-radius: 1vw;
    border-width: 0.2vw;
    height: 13vw;
    display: flex;
    padding: 1vw;
    background-color: rgb(63, 80, 102);
    border-radius: 1.5vw;
    background-image: url("../images/Ignite_Background.JPG");
    opacity: 0.8;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.footerimages {
    width: 6vw;
    height: 6vw;
}

#footer {
    height: 6vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-evenly;
}

#texpand_logo_footer {
    width: 8vw;
}

#igniteLogo {
    height: 11vw;
    padding-right: 2vw;
}

#descriptionIgnite {
    width: 55%;
    padding-top: 1vw;
    line-height: normal;
}

.buttonStyles {
    margin: 1vw;
    user-select: none;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0.1vw;
    border-color: white;
    width: 20%;
    margin-top: 2.5vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border-radius: 0.5vw;
    height: 4vw;
}

.igniteLinksText {
    padding-top: 0.8vw;
    margin: 0;
}

#OurMissionHeading {
    text-align: left;
}

#glanceHeading {
    font-size: 3.5vw;
    color: white;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(255, 255, 255);
    padding-bottom: 1.5vw;
}

.glanceBlocks {
    width: 25%;
    text-align: center;
}

.glanceimages {
    width: 20vw;
    height: 20vw;
    border-radius: 1vw;
    margin: auto;
}

#awardsBlock {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-image: url("../images/awards.png");
    opacity: 1;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#yearsBlock {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-image: url("../images/calender.png");
    opacity: 1;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#membersBlock {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-image: url("../images/members.png");
    opacity: 1;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#teamsBlock {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-image: url("../images/support.png");
    opacity: 1;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#headingAwards {
    font-weight: 800;
    font-size: 2vw;
    opacity: 1 !important;
}

#igniteRow {
    margin-bottom: 3vw;
}

#MissionBlock {
    width: 60%;
}


@media(max-width: 1050px) {

    .footerimages {
        width: 6vw;
        height: 6vw;
    }

    #footer {
        height: 6vw;
        margin-top: 1vw;
        margin-bottom: 3vw;
        display: flex;
        justify-content: space-evenly;
    }

    #texpand_logo_footer {
        width: 8vw;
    }

    #worldsBox {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #winningAliance {
        margin-top: 1vw;
        width: 100%;
    }

    #worldsRecapBox {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #worldsRecapHeading {
        text-align: left;
        padding-top: 3vw;
        padding-bottom: 0vw;
        font-weight: 600;
        font-size: 120%;
        margin: 0;
    }

    #linkToRobotPage {
        color: white;
        text-align: center;
        width: 80%;
        font-size: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.3vw;
        padding-bottom: 0.3vw;
        border-radius: 0.5vw;
        transition: background-position 0.5s;
        background-size: 200% 100%;
        background-image: linear-gradient(to right, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%);
    }

    #RobotLink {
        border-style: solid;
        border-radius: 1vw;
        border-width: 0.2vw;
        user-select: none;
        text-align: center;
        margin-top: 1vw;
        background-color: rgb(55, 59, 59);
        width: 80vw;
        height: 11vw;
        margin: auto;
        border-radius: 1vw;
        background-image: url("../images/Robot_Backgroung.jpg");
        opacity: 0.9;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
    }

    #worldsRobotHeading {
        padding: 0vw;
        padding-top: 0.9vw;
        padding-bottom: 2vw;
        height: 5.8vw;
        font-weight: 700;
        font-size: 100%;
        color: rgb(255, 255, 255);
        text-shadow: 0.2vw 0.2vw rgb(0, 0, 0);
    }


    #linkToRobotPage:hover {
        background-position: -100% 0;
        /* font-weight: 600; */
        color: black;
    }

    #worldsRecap {
        margin-top: 2vw;
        margin-bottom: 2vw;
        height: 45vw !important;
        width: 80vw !important;
        margin-left: auto;
        margin-right: auto;
    }

    #worldsRow {
        padding-bottom: 1rem;
    }

    #MissionBlock {
        width: 100%;
    }

    #MissionHomeBlock {
        flex-direction: column;
    }

    #OurMission {
        text-align: center;
        font-size: 2.2vw;
        padding-top: 0.5vw;
        padding-bottom: 1vw;
        font-weight: 500;
        margin: 0;
        color: white;
        text-shadow: 0.4vw 0.4vw 0.1vw rgb(0, 0, 0);
        text-align: left;
        padding-left: 0.1vw;
        width: 95%
    }

    #OurMissionHeading {
        text-align: left;
        font-size: 120%;
    }

    #notJustARobot {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vw;
        height: 50vw;
        width: 90vw;
    }


}