#logoTaskBar {
    height: 2.8vw;
}

#taskBar {
    display: flex;
    position: fixed;
    user-select: none;
    background: none;
    color: white;
    align-items: center;
    width: 100%;
    height: 3vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

#sloganTaskBar {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
}

#SloganBox {
    margin: 0;
    padding-left: 1vw;
    height: 3vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topbar-section {
    border-radius: 0.3vw;
    margin: 0;
    height: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    font-weight: 600;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-position 0.5s;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, rgba(63, 80, 102, 0) 50%, rgb(63, 80, 102) 50%);
}

#navButtons {
    display: flex;
    padding: 0.5vw;
    height: 2vw;
}

#centerTabs {
    margin-left: auto;
    height: 3vw;
}

.topbar-section:hover {
    background-position: -100% 0;
}